<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Django Template</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="navigation_section">
    <button>HOME</button>
    <button>ABOUT US</button>
    <button>GALLERY</button>
    <button>CONTACT</button>
    <hr>
</div>

{% block title%}

{% endblock %}

{% block content%}

{% endblock%}

<section class="footer_section">
    <h4>This is my footer </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur cum debitis deleniti dolorum earum eius eos facere facilis fugit in magnam maxime, mollitia nam nobis officia omnis perspiciatis porro praesentium quia quod repellat repellendus repudiandae sapiente suscipit totam unde.</p>
</section>
</body>
</html>