{% extends 'base.html'%}

{% block title%}
<h4>This is my contact page</h4>
{% endblock%}

{%block content%}
<div class="container mt-3">
<!--  <h2>Button Outline</h2>-->
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <button type="button" class="btn btn-outline-secondary">Secondary</button>
  <button type="button" class="btn btn-outline-success">Success</button>
  <button type="button" class="btn btn-outline-info">Info</button>
  <button type="button" class="btn btn-outline-warning">Warning</button>
  <button type="button" class="btn btn-outline-danger">Danger</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-light text-dark">Light</button>
</div>
<h3>This is our contact page</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolor ipsa soluta! Corporis deserunt pariatur, quidem quod recusandae soluta. Eius?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis cum ducimus ipsam molestiae necessitatibus provident quis quod sed.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias hic ipsa odio optio perspiciatis, sed sint veniam voluptas.</p>

{% endblock %}